{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Task 2</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

	<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>

</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-6">
				<h3>Task 1b</h3>
			</div>
			<div class="col-6">
				<button class="btn btn-light float-right" id="btnStop">
					Stop
				</button>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<div class="shape-container">
					<!-- Dynamically add your circles here! -->
					<!-- Example circle: <div class="p2-circle bg-blue"></div> -->
				</div>
			</div>
		</div>
	</div>


<script type="text/javascript">

	// your solution here
  let toContinue = true;
  
  let addBubbles = function() {
    let bg = [' bg-blue', ' bg-green', ' bg-orange', ' bg-purple', ' bg-yellow', '" id="gradient-circle"',
             ' bg-blue p2-border', ' bg-green p2-border', ' bg-orange p2-border', ' bg-purple p2-border', ' bg-yellow p2-border', ' p2-border" id="gradient-circle"'];
    $(".shape-container").append('<div class="p2-circle' + bg[Math.floor(Math.random() * bg.length)] + '"></div>');
 
//     let bg = [' bg-blue', ' bg-green', ' bg-orange', ' bg-purple', ' bg-yellow'];
//     $(".shape-container").append('<div class="p2-circle' + ['" id="gradient-circle', bg[Math.floor(Math.random() * bg.length)] + ['', ' p2-border'][Math.floor(Math.random() * 2)]][Math.floor(Math.random() * 2)] + '"></div>');
    if (toContinue) {
      setTimeout(addBubbles, 1000);
    }
  };
 
  $("#btnStop").click(() => {
    toContinue = false;
  });

  $(document).ready(() => {
    setTimeout(addBubbles, 1000);    
  });

</script>
</body>
</html>